<br>
<form action="/post" enctype="multipart/form-data" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h2><input type="text" name="title" placeholder="제목"></h2>
  <h2><input type="text" name="content" placeholder="내용"></h2>
  <h2><input type="file" name="image"></h2>
  <h2><input type="submit"></h2>
</form>

<%#= render 'form', post: @post %>


<h3><a href="/">홈</a></h3>