<br>
<form action="/join" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h2><input type="text" name="name" placeholder="네임"></h2>
  <h2><input type="email" name="email" placeholder="메일"></h2>
  <h2><input type="password" name="password" placeholder="패스워드"></h2>
  <h2><input type="password" name="password_confirmation" placeholder="패스워드 확인"></h2>
  <h2><input type="submit"></h2>
</form>
<h3><a href="/">홈</a></h3>